.main {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
    height: 100%;
}
.button_tweet {
    cursor: pointer;
    padding: 8px 7px;
    border-radius: 100px;
    background-color: #1EA1F1;
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
    p {
        margin: 8px;
        font-weight: 600;
        font-size: 16px;
    }
}
.button_user {
    .button {
        cursor: pointer;
        width: 100%;
        justify-content: flex-end;
        padding: 8px 16px;
    }
}
.button {
    cursor: pointer;
    padding: 8px 7px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 6px 0;
    transition: all 0.3s ease;
    width: fit-content;
    &:not(:has(p)) {
        border-radius: 100%;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            //left: 5px;
        }
    }
    &:not(:hover) {
        background-color: transparent !important;
        /*---
          date: 2022-11-30
          ---
          hover時の背景色を変えるのはinline cssではjs|tsを追加するしかないが
          めんどくさい(色んな意味で)ので通常時は背景色にcss側で!importantを常に付け
          透明にしhover時にimportantを外す事でinline cssの優先度がcssの優先度を上回る
          この方法で代用している

          通常時の背景色を変える機会はこの先なさそうなのでこれでいく
        */
    }
    /*&:hover {
        background-color: #eee;
    }*/
    .icon {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &>*~.icon {
        margin-right: 12px;
    }
    p {
        color: #333;
        position: relative;
        bottom: 1px;
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        margin-right: 10px;
    }
}

@media (max-width: 1250px) {
    .button>*:not(.icon):first-child {
        display: none;
    }
    a:has(.button) {
    }
    .button .icon {
        margin-right: 0;
    }
    .button_user {
        padding: 4px;
        .button {
            padding: 4px;
            width: 56px;
        }
        .icon {
            width: 48px;
            height: 48px;
            margin: 0;
        }
    }
    .button_tweet {
        display: none;
        width: 48px;
        height: 48px;
        p {
            display: none;
        }
    }
}