.main {
    padding: 16px;
    .text {
        margin: 4px 0 8px 0;
        p {
            margin: 0;
        }
    }
}

.big {
    padding: 16px;
    .text {
        margin: 8px 0 8px 0;
        p {
            font-size: 21px;
            color: #222;
            font-weight: 400;
            margin: 0;
        }
    }
}


.TweetTopOneLine {
    display: flex;
    .username {
        font-weight: 500;
    }
    .info {
        display: flex;
        margin-left: 4px;
        > p {
            color: #777;
            margin-right: 4px;
            &:not(:last-child)::after {
                content: "·";
                margin-left: 4px;
            }
        }
    }
    p {
        margin: 0;
    }
}

.TweetTopTwoLine {
    display: flex;
    >*:first-child {
        margin-right: 12px;
    }
}

.TweetBottomOneLine {
    display: flex;
    align-items: center;
    .button {
        width: 25%;
        display: flex;
        align-items: center;
    }
    .button div {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 100%;
        &:hover {
            outline: 5px solid #eee;
            background-color: #eee;
        }
    }
    p {
        color: #777;
        font-size: 12px;
        height: fit-content;
        margin: 0;
        margin-left: 12px;
    }
}

.TweetBottomMultipleLineDate {
    p {
        color: #777;
    }
}

.TweetBottomMultipleLineData {
    display: flex;
    p {
        color: #666;
        margin-right: 12px;
        span {
            color: #222;
            font-weight: 500;
        }
    }
}

.TweetBottomMultipleLineTooltip {
    display: flex;
    svg {
        width: 24px;
        height: 24px;
    }
    .button {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 4px;
        > div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border-radius: 100%;
            &:hover {
                background-color: #eee;
            }
        }
    }
}