.main {
    padding: 16px;
    .text {
        p {
            margin: 0;
        }
    }
}



.TweetTopOneLine {
    display: flex;
    .username {
        font-weight: 500;
    }
    .info {
        display: flex;
        margin-left: 4px;
        > p {
            color: #777;
            margin-right: 4px;
            &:not(:last-child)::after {
                content: "·";
                margin-left: 4px;
            }
        }
    }
    p {
        margin: 0;
    }
}

.TweetBottomOneLine {
    display: flex;
    align-items: center;
    .button {
        width: 25%;
        display: flex;
        align-items: center;
    }
    .button div {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 100%;
        &:hover {
            background-color: #eee;
        }
    }
    p {
        height: fit-content;
        margin: 0;
        margin-left: 12px;
    }
}