.UserNameMini {
    p {
        margin: 0;
    }
    p:first-child {
        font-size: 16px;
        font-weight: 500;
        color: #222;
    }
    p:last-child {
        margin-top: 4px;
        color: #666;
        font-size: 14px;
    }
}