.img {
    height: 100%;
    width: 100%;
    span {
        position: static !important;
        display: unset !important;
        width: 100%;
        height: 100%;
    }
    img {
        position: static !important;
        width: 100% !important;
        height: 100% !important;
    }
}

.ButtonFollow {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px 18px;
    border-radius: 100px;
    background-color: #333;
    transition: all .3s ease;
    border: 1px solid #333;
    &:hover {
        background-color: #444;
    }
    &.following {
        background-color: #fff;
        border: 1px solid #eee;
        &:hover {
            position: relative;
            background-color: #F5005720;
            border: 1px solid #F48FB1;
            &::after {
                content: "Unfollow";
                position: absolute;
                font-weight: 500;
                font-size: 15px;
                top: 8px;
                left: 21px;
                color: #dc1f42;
            }
            > p {
                visibility: hidden;
            }
        }
        > p {
            color: #222;
            font-weight: 500;
            font-size: 15px;
        }
    }
    >p {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }
}

.TweetIconBorderStart {
    .border {
        width: calc(42px / 2);
        margin-left: calc(42px / 2);
        border-left: 2px solid #eee;
        > div {
            outline: 5px solid #fff;
            margin-left: calc(42px / -2);
        }
    }
}

.ImgAlt {
    position: relative;
    .alt {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: calc(100% - 5px);
        bottom: 4px;
        padding: 16px;
        background: rgba(255,255,255, 0.1);
        background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.4) 100%);
        p {
            margin: 0;
            color: #fff;
        }
        p:first-child {
            font-size: 14px;
        }
        p:last-child {
            font-size: 24px;
            font-weight: 700;
        }
    }
}
.Modals::-webkit-scrollbar {
    display: none;
}
.Modals {
    position: relative;
    top: 5%;
    width: 100%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 24px;
    min-height: 400px;
    outline: none;
    .header {
        padding: 8px;
    }
    .close {
        cursor: pointer;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: all 0.3s ease;
        &:hover {
            background-color: #eee;
        }
        svg {
            width: 22px;
            height: 22px;
        }
    }
}
@media (max-width: 450px) {
    .Modals {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 95%;
        max-height: 95%;
    }
}

.InputText, .InputTextArea {
    display: flex;
    flex-direction: column-reverse;
    outline: 1px solid #eee;
    margin: 8px 0;
    padding-top: 22px;
    border-radius: 8px;
    position: relative;
    transition: all 0.1s ease;
    > p {
        position: absolute;
        top: 6px;
        margin: 0;
        margin-left: 8px;
        font-size: 13px;
        color: #666;
        transition: all 0.3s ease;
    }
    > input {
        padding: 6px;
        padding-left: 8px;
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #31344b;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
    &:has(:is(input, textarea):is(:active, :focus)) {
        outline: 2px solid #1EA1F1;
    }
    > :is(input, textarea):is(:active, :focus)~p {
        color: #1EA1F1;
    }
    > :is(input[value=""], textarea.no):not(:is(:active, :focus))~p {
        transform: translateY(14px) translateX(12px) scale(1.5);
    }
}

.InputTextArea {
    .textarea {
        width: calc(100% - 72px);
        color: #31344b;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 18px;
        height: 100%;
        min-height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 0;
        padding-left: 10px;
        outline: none;
        resize: none;
        border: none;
        outline: none;
    }
}